<th:block th:fragment="modal">
    <div class="modal fade" id="appModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" id="appModalDialog">
            <div class="modal-content" id="appModalContent">
                <div class="modal-header" id="appModalHeader">
                    <div class="modal-title-group">
                        <h5 class="modal-title titulo-model-app"></h5>
                        <div class="modal-subtitle subtitle-modal-app d-none"></div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-header-app"></div>
                <div class="modal-footer footer-modal-app d-none"></div>
            </div>
        </div>
    </div>
</th:block>
