<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <head>
        <link th:href="@{/css/login.css}" rel="stylesheet" />
    </head>
    <body>
        <div layout:fragment="content">
            <div id="particles-js"></div>
            <div id="page-content" class="d-flex justify-content-center align-items-center min-vh-100 row m-0 h-100vh"
                 data-title="Inicia sesión / Registro"
                 data-subtitle="Inicia sesión o registra tu vehículo, o regístrate como conductor o empleado">
                <div class="row" id="create_empresa">
                    <!-- Imagen solo en escritorio -->
                    <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center bg-login-image py-2">
                        <img th:src="@{/img/servicios.png}" class="img-fluid" width="330" alt="Gestión de Flota" draggable="false">
                    </div>
                    <!-- Formulario -->
                    <div class="col-lg-6 col-12 m-auto">
                        <div id="pane-email" class="p-4 p-lg-5">
                            <div class="text-center mb-4">
                                <h1 class="h4 text-gray-900 m-0 p-0">TruckFlow</h1>
                                <small class="text-muted">Gestión Integral de Solicitudes</small>
                            </div>
                            <div class="tab-content login-actions">
                                <div class="tab-pane fade show active" id="pane-email-content" role="tabpanel"
                                     aria-labelledby="tab-email">
                                    <form id="form-email" class="m-0 p-0">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="email" placeholder="ejemplo@ejemplo.com" autocomplete="false">
                                            <label for="email">Email:</label>
                                        </div>
                                        <div class="form-floating mb-3 position-relative">
                                            <input id="password" type="password" class="form-control" placeholder="Contraseña"  autocomplete="false">
                                            <label for="password">Contraseña:</label>
                                            <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-2 border-0 bg-transparent">
                                                <i id="togglePassword" class="bi bi-eye"></i>
                                            </button>
                                        </div>
                                        <button class="btn btn-success w-100 my-2" type="submit">
                                            <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                                        </button>
                                    </form>
                                    <div class="text-center">
                                        <a id="recuperacion_password"
                                           class="text-dark text-decoration-none m-0 p-0  cursor">
                                            <u class="fs-6">¿Se te olvidó tu contraseña?</u>
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pane-otp-content" role="tabpanel" aria-labelledby="tab-otp">
                                    <form id="form-otp" class="mt-2">
                                        <div class="mb-3 input-group">
                                            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                                            <input id="otp-email" type="email" class="form-control" placeholder="correo@empresa.com" required>
                                        </div>
                                        <button class="btn btn-success m-1 w-100" type="button" id="btn-send-otp">Enviar OTP</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Recuperar Contraseña -->
            <div id="modal_recuperar_password" class="modal fade" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-4">

                        <!-- Header -->
                        <div class="modal-header border-0">
                            <h5 class="modal-title d-flex align-items-center gap-2">🔑 Recuperar contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <!-- Body -->
                        <div class="modal-body pt-0">
                            <p class="text-muted">Por favor, ingresa tu correo electrónico y tu nueva contraseña.</p>
                            <!-- Input correo -->
                            <div class="mb-3">
                                <label class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" placeholder="correo@gmail.com" required>
                            </div>

                            <div class="alert alert-info">
                                <small>• Revisa también tu carpeta de <strong>Spam</strong> o <strong>No
                                        deseados</strong>.</small><br>
                                <small>• Si no recibes el correo, contáctanos por WhatsApp soporte.</small>
                            </div>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cancelar</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/login.js}"></script>
    </th:block>
</body>
</html>